#inventory {
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
}

.product {
    padding: 2%;
    margin: 2%;
    text-align: center;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.product img {
    width: 80%;
}