#container {
    display: grid;
    grid-template-areas:
        "setting",
        "playground";
}

#form {
    grid-area: "setting";
    margin-bottom: 100px;

}

form {
    display: inline;
    border: 1px solid #16e0bd;
    padding: 10px;
    color: black;
    background-color: #16e0bd;
}

#playground {
    grid-area: "playground";
    display: inline-block;
    margin: auto;
}

#circle {
    height: 50px;
    width: 50px;
    background-color: darkslateblue;
    border-radius: 25px;
    margin: auto
}