body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}

.clear {
    clear: both;
}

#nav {
    background-color: rgb(58, 159, 202);
    color: white;
    width: 100%;
}

ul {
    list-style-type: none;
}

.navbar {
    display: inline;
    padding: 5px 20px;
}

ul>li {
    display: inline;
    padding: 5px 10px;
}

#div-l {
    padding: 20px 10px;
    float: left;
}

#div-r {
    padding: 20px 10px;
    float: right;
}

.nav-item {
    border-left: 1px solid white;
    padding: 5px 50px;
}

#user {
    display: inline;
    padding: 5px 20px;
}

#sign-out {
    background-color: white;
    padding: 5px 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}

form {
    padding: 20px 60px;
    font-size: 25px;
}

fieldset {
    border: none;
    width: 100%;
    color: #8b8b8b;
}

legend {
    padding-bottom: 10px;
    width: 100%;
    color: #7b7a7a;
}

.two {
    display: inline !important;
    float: left;
    padding: 20px 0px;
    font-size: 15px;
    min-width: 50%;
}

label {
    display: block;
    padding: 15px 5px;
}

input,
select {
    width: 80%;
    min-height: 40px;
    border-color: #d7d1d1;
    border: 1px solid;
    border-radius: 5px;
}

.msg {
    display: block;
    padding: 5px 0px
}

#btn-section {
    padding-top: 20px;
    margin-left: 245px;
    float: left;
}

.btn {
    display: inline;
    width: fit-content;
    min-height: 40px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 20px;
}

#reset {
    border-color: rgb(8, 69, 213);
    color: rgb(8, 69, 213);
}

#cancel {
    border-color: rgb(225, 59, 9);
    color: rgb(225, 59, 9);
}

#submit {
    border-color: rgb(16, 153, 203);
    color: rgb(16, 153, 203);
}